<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/ryadav/OneDrive - Planit Test Management Solutions Pty Ltd/Desktop/PlanitPlaywrightAPIFramework/src/test/java/testCases/employeeApiTest.java">
        <classes>
            <class name="testCases.employeeApiTest">
                <methods>
                    <include name="testGetUsers"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>